.chat-container {
    height: 80vh;
    width: 60vw;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    display: flex;

    .side {
        flex: 1 1;
        background-color: #aca8dd;
        border-right: #7a73c7 1px solid;

        .user {
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 10px;
            justify-content: space-between;
            height: 75px;
            background-color: rgba(0, 0, 0, 0.075);
            border-bottom: #7a73c7 1px solid;

            &__name {
                color: antiquewhite;
                font-size: 1.8rem;
                font-weight: 500;
                flex: 1 1;
            }

            &__avatar {
                width: 50px;
            }

            button {}
        }

        .search {
            border-bottom: #7a73c7 1px solid;

            form {
                display: flex;

                input {
                    border-radius: 0;
                    flex: 1 1;
                }
            }
        }

        .chats-list {
            max-height: 100%;
            display: flex;
            flex-direction: column;
            overflow: scroll;
            overflow-x: hidden;
        }
        ::-webkit-scrollbar{
            display: none;
        }
        .chat {
            padding: 5px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 0.6fr 0.5fr;
            gap: 5px;
            grid-template-areas:
                "chat__user-avatar chat__user-name"
                "chat__user-avatar chat__last-message";

            &__user-avatar {
                grid-area: chat__user-avatar;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: contain;
                    object-position: center;
                }
            }

            &__user-name {
                color: antiquewhite;
                font-size: 1.8rem;
                font-weight: 500;
                grid-area: chat__user-name;
            }

            &__last-mesage {
                font-size: 1.1rem;
                grid-area: chat__last-message;
            }

        }

        .chat-hover {
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            // transform: scale(0.9);
        }
    }

    .chat-container {
        flex: 2 2;
    }




}