.searchResult {
    cursor: pointer;
    flex: 0 1 60px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin: 5px;
    align-items: center;

    .user__avatar {
        flex: 0.5 0;
    }

    .user__name {
        flex: 1 0;
    }
}